[submodule "website"]
	path = website
	url = git@github.com:SE4AIResearch/DataLeakage_Website_Fall2023.git
[submodule "api/api/pyright"]
	path = api/api/pyright
	url = https://github.com/malusamayo/pyright.git
